.msg-display {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.dialog-box1,
.dialog-box2 {
    position: relative;
    max-width: 70%;
    height: auto;
    margin: 1px;
    margin-left: 40px;
    margin-right: 40px;
    line-height: 18px;
    transition: transform 0.3s; /* Apply transition to the transform property */
}

.date-sign {
    text-align: center;
    color: white;
    background-color: #afc0db;
    opacity: 0.9;
    width: fit-content;
    margin: 7px;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.dialog-box1-text,
.dialog-box2-text {
    border-bottom-color: skyblue;
    font-size: 15px;
    box-sizing: border-box;
    border-radius: 6px;
    position: relative;
    word-break:keep-all;
    margin-bottom: 6px;
    font-weight: 500;
    display: flex;
    /* padding: 10px; */
}

.msg-content {
    padding: 5px 12px 5px 12px;
}


.dialog-box1-text::before {
    content: '';
    position: absolute;
    top: 50%;
    left: -3.5px;
    width: 9px;
    height: 10px;
    /* margin-top: -9px; */
    background: inherit;
    transform: rotate(45deg);
}

.dialog-box2-text::after {
    content: '';
    position: absolute;
    top: 50%;
    right: -3px;
    width: 9px;
    height: 10px;
    /* margin-top: -9px; */
    background: inherit;
    transform: rotate(45deg);
}

.dialog-box1-text {
    background-color: #eee;
}

.dialog-box1 {
    align-self: flex-start;
}

.dialog-box2-text {
    background-color: #08c44d;
}

.dialog-box2 {
    align-self: flex-end;
}


.dialog-area {
    display: flex;
    flex-direction: column;
    flex: 70%;
    height: 100%;
    background-color:blueviolet;
}

.dialog-display-area {
    /* max-height: 200px; Set the maximum height of the container */
    overflow-y: scroll; /* Enable vertical scrolling */
    flex: 75%;
    display: flex;
    flex-direction: column;
    /* align-items: center;
    justify-content: center; */
    max-height: 100%;
  }

.dialog-display-area::-webkit-scrollbar {
    width: 8px;
}

.dialog-display-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
}

.dialog-display-area::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
}
  
.dialog-box1-enter,
.dialog-box2-enter {
    transform: translateY(100%); /* Initial position for new divs */
}

.dialog-box1-enter-active ,
.dialog-box2-enter-active {
    transform: translateY(0); /* Final position for new divs */
    transition: transform 0.3s; /* Apply transition to the transform property */
}

.sent-fail {
    position: absolute;
    top: 5px;
    left: -35px;
    padding: 2px;
    font-size: 12px;
    width: 14px;
    height: 14px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
}

.msg-time {
    align-self: self-end;
    margin-right: 8px;
    font-size: 10px;
    color: #888;
    /* opacity: 0.8; */
}
