.add-connection-popup {
    z-index: 100;
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: beige;
    border-radius: 5px;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.add-connection-popup .usersearchbar {
    height: 40px;
    font-size: 25px;
    min-width: 90%;
    max-width: 90%;
    text-indent: 10px;
    position: relative;
}

.add-connection-popup .send-invitation {
    font-size: medium;
    background-color:coral;
    margin: 10px;
}

.add-connection-popup .user-result {
    position: absolute;
    width: 90%;
    top: 100%;
    background-color: #ccc;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 10px 10px;
}

.add-connection-popup .user-card {
    display: flex;
    width: 95%;
    margin-bottom: 5px;
    align-items: center;
    border-radius: 10px;
    transition: all 0.3s ease;
    background-color:rgb(101, 98, 98)c;
}

.add-connection-popup .user-card:hover{
    background-color:#fced3f;
    opacity: 0.7;
}

.add-connection-popup .user-card .user-card-img {
    border-radius: 50%;
    height: 30px;
    width: 30px;
    margin: 10px 10px 10px 10px;
    align-self: flex-start;
}

.add-connection-popup .user-card .username {
    font-size: 20px;
    font-weight: 500;
}

.add-connection-popup .no-result {
    position: absolute;
    padding-left: 10px;
    font-size: 20px;
    font-weight: 500;
}

.handle-connection-popup {
    z-index: 100;
    background-color: beige;
    border-radius: 8px;
    width: 50%;
    height: 70vh;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.handle-connection-popup .connection-request-card {
    width: 90%;
    margin: 10px auto;
    background-color: chocolate;
    display: flex;
    align-items: center; 
    border-radius: 7px;
    text-align: center;
}

.handle-connection-popup .connection-request-card .username {
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

.handle-connection-popup .connection-request-card .accept {
    background-color: #0bdb6c;
    color:#fced3f;
    font-size: 90%;
    width: 20%;
}

.handle-connection-popup .connection-request-card .accept:hover {
    background-color: #05a34f
}

.handle-connection-popup .connection-request-card .refuse {
    background-color:#e61c09;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
    font-size: 90%;
}

.handle-connection-popup .connection-request-card .refuse:hover {
    background-color:#ba1506;
}

.handle-connection-popup .title {
    font-size: 30px;
    margin: 20px;
}

.handle-connection-popup .scrollable-invitation-area{
    overflow-y: scroll; /* Enable vertical scrolling */
    margin: 10px 20px 20px 20px;
    height: 70%;
    background-color: #fced3f;
    border-radius: 3%;
}

.handle-connection-popup .scrollable-invitation-area .display-text{
    width: 40%;
}

.handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar {
    width: 8px;
    }
    
    .handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    }
    
    .handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
    }


.change-remark-popup {
    z-index: 100;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.change-remark-popup .change-remark-bar {
    height: 40px;
    width: 100%;
    font-size: 25px;
    margin: auto;
    text-indent: 10px;
}

.change-remark-popup .change-remark-button {
    font-size: medium;
    background-color:coral;
    margin: 10px;
}

.change-remark-popup button {
    position: relative;
    background-color: beige;
    height: 40px;
    font-size: large;
    font-weight: bold;
    border-radius: 5px;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.change-profile-popup {
    z-index: 100;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    width: 50%;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 5s ease-in-out;
    display: flex;
}

.change-profile-popup .change-avatar {
    display: flex;
    flex-direction: column;
    width: 35%;
    margin: 10px;
    height: 100px;
    align-items: center;
}

.change-profile-popup .change-avatar .user-card-img {
    position: absolute;
    top: 20px;
    margin: 0;
}

.change-profile-popup .change-username {
    display: flex;
    flex-direction: column;
    width: 55%;
    margin: 10px;
    height: 100px;
    align-items: center
;}

.change-profile-popup .change-username .username-edit-box {
    width: 90%;
    border-radius: 10px;
    height: 30px;
    font-size: 20px;
    font-weight: 600;
    padding: 5px;
    text-align: center;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease;
}


.change-profile-popup .change-username .username-edit-box:focus {
    border-color: #00f; /* Highlighted border color when in focus */
}

.change-profile-popup .bottom {
    position: absolute;
    bottom: 20px;
}

.change-profile-popup .button{
    border-radius: 10px;
    transition: background-color 0.3s ease;
}

.change-profile-popup .button:hover{
    background-color: rgba(76, 73, 73, 0.5)
}



