.add-connection-popup {
    z-index: 100;
    margin: 200px;
    padding: 20px;
    background-color: beige;
    border-radius: 5px;
    width: 50%;
    position: absolute;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
}

.add-connection-popup .usersearchbar {
    height: 40px;
    width: 100%;
    font-size: 25px;
    margin: auto;
    text-indent: 10px;
}

.add-connection-popup .send-invitation {
    font-size: medium;
    background-color:coral;
    margin: 10px;
}

.handle-connection-popup {
    margin: 100px;
    z-index: 100;
    background-color: beige;
    border-radius: 8px;
    width: 50%;
    height: 70vh;
    position: absolute;
    transition: all 5s ease-in-out;
    display: flex;
    flex-direction: column;
    text-align: center;
}

.handle-connection-popup .connection-request-card {
    width: 90%;
    margin: 10px auto;
    background-color: chocolate;
    display: flex;
    align-items: center; 
    border-radius: 7px;
        text-align: center;
}

.handle-connection-popup .connection-request-card .username {
    font-weight:bold;
    text-align: center;
    vertical-align: middle;
    width: 40%;
}

.handle-connection-popup .connection-request-card .accept {
    background-color: #0bdb6c;
    color:#fced3f;
    font-size: 90%;
    width: 20%;
}

.handle-connection-popup .connection-request-card .accept:hover {
    background-color: #05a34f
}

.handle-connection-popup .connection-request-card .refuse {
    background-color:#e61c09;
    margin-right: 10px;
    margin-left: 10px;
    width: 20%;
    font-size: 90%;
}

.handle-connection-popup .connection-request-card .refuse:hover {
    background-color:#ba1506;
}

.handle-connection-popup .title {
    font-size: 30px;
    margin: 20px;
}

.handle-connection-popup .scrollable-invitation-area{
    overflow-y: scroll; /* Enable vertical scrolling */
    margin: 10px 20px 20px 20px;
    height: 70%;
    background-color: #fced3f;
    border-radius: 3%;
}

.handle-connection-popup .scrollable-invitation-area .display-text{
    width: 40%;
}

.handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar {
    width: 8px;
    }
    
    .handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 4px;
    }
    
    .handle-connection-popup .scrollable-invitation-area::-webkit-scrollbar-track {
    background-color: #f1f1f1;
    border-radius: 4px;
    }
