.user-list {
    flex: 30%;
    height: 100%;
    background-color: aqua;
}

.user-card-img {
    border-radius: 50%;
    height: 60px;
    width: 60px;
    margin: 10px 10px 10px 10px;
}



.user-card {
    position: relative;
    display: flex;
    border-radius: 6px;
    margin: 5px;
}


.user-card.selected {
    background-color:aquamarine;
}

.user-card .new-message-indication {
    position: absolute;
    top: 50%;
    left: 85%;
    z-index: 100;
    padding: 2px;
    font-size: 14px;
    width: 16px;
    height: 16px;
    background-color: red;
    color: white;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight:600;
}

.user-card .text-region {
    width: 75%;
}

.user-card .text-region .username {
    margin-top: 15px;
}

